.drawer {
  div[class~="ant-drawer-header"] {
    padding: 1.1rem 1.6rem;
    background-color: #063970;
    background-color: #4f65df;
    
    div[class~="ant-drawer-title"] {
      color: #fafafa;
    }
  }
}