.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.h-full {
  height: 100vh;
}

.m-auto {
  margin: 0 auto;
}
.mt-1 {
  margin-top: .25rem;
}
.mt-2 {
  margin-top: 1.5rem;
}
.ml-1 {
  margin-left: .75rem;
}
.mr-1 {
  margin-right: .25rem;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
// .mx-1 {
//   margin-left: 6px;
//   margin-right: 6px;
// }
// .p-0 {
//   padding: 0 !important;
// }
.p-1 {
  padding: .75rem;
}
.pb-1 {
  padding-bottom: .8rem;
}
.px-1 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-1 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.p-2 {
  padding: 1.5rem;
}
.px-2 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.pt-2 {
  padding-top: 1.5rem;
}
.p-3 {
  padding: 2.5rem;
}
.p-btn {
  padding: .4rem .8rem;
}

.text-center {
  text-align: center;
}
.overflow-ellipsis {
  max-width: 40rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Colors
.bg-white {
  background-color: white;
}

// Border-radius
.border-r-1 {
  border-radius: 4px;
}
.border-r-2 {
  border-radius: 8px;
}

// Custom antd styles
.ant-btn.ant-btn-primary.btn-success {
  background-color: #52c41a;
}
.ant-btn.ant-btn-primary.btn-warning {
  background-color: #faad14;
}