@mixin customScrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 1.5px;
    background-color: #c5c5c5;
  }
  &::-webkit-scrollbar-track {
    background-color: #eee;
  }
}