$header-height: 5.4rem;

%nav_item {
  height: $header-height;
  padding: .8rem 1.6rem;

  &:hover {
    background-color: rgba($color: #000000, $alpha: .1);
    cursor: pointer;
  }
}

.header {
  width: 100%;
  padding-left: 2rem !important;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .2);

  &[class~="ant-layout-header"] {
    height: $header-height;
    background-color: #b4ccd4;
    background-color: #eab830;
    background-color: #253a97;
    background-color: #b6beeb;
  }

  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;

  h2 {
    margin: 0 0 .4rem;
    font-size: 1.8rem;
  }

  &__noti_box {
    @extend %nav_item;
    padding-top: 0;

    & > span[class~="ant-badge"] span[role="img"] {
      color: #222;
      font-size: 2.5rem;
    }
  }

  &__user_box {
    min-width: 15rem;
    max-width: 18rem;
    @extend %nav_item;
    // height: $header-height;
    // padding: .8rem 1.6rem;
  
    img {
      height: 100%;
      margin-right: 1rem;
      object-fit: cover;
  
      border-radius: 100%;
      // border: 1px solid #555;
      box-shadow: 0 0 1rem rgba(255, 255, 255, .7);
    }

    & > span {
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      line-height: 1.6;

      b {
        color: #222;
        font-size: 1.1em;
        line-height: 1.35;
      }

      small {
        color: #444;
        font-weight: 500;
        // color: #e5e5e5;
      }
    }
  }
}

.myDropdown {
  max-width: 15rem;
}